<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Heroku Flask Template</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
    </head>
    <body>
        <body bgcolor="AliceBlue">
        <img src="{{url_for('static', filename='eni.jpg')}}" >
        <p> </p>
        <h1 style="color:orange;" id="tittle"> ORARI NAVETTA ARANCIO VIA EMILIA - BOLGIANO</h1>

        <h2></h2>

        {% if tup|length > 1 %}
            <p style="font-size:30px"> Arrivo tra {{tup|min}} min e successiva tra {{tup|max}} min</p>
        {% else %}
            <p style="font-size:30px" > {{tup[0]}} </p>
        {% endif %}



        <p>
          <!--  Heroku Flask Template is a simple web app programmed in Python-3 using flask micro-framework. It is created for begginers to understand the basics of creating a flask web app and deploying it on the Heroku. It can also be used as a template to create your new flask web apps which can then easily be deployable on Heroku. -->
        </p><br>
        <!-- <h3>You can download this plugin, or modify its source code from <a href="https://github.com/vetronus/heroku-flask-template">GitHub</a></h3> -->
    </body>
</html>