<!DOCTYPE html>
<html lang="en">
    <head>
        <title>orari navetta</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/favicon.ico" />
    </head>
    <body bgcolor="Gold">
        <center>
            <h2><img src="Eni.jpg" width="42" height="42" align="left"> MOTO (Move On Time Ondemand)</h2>
            <p style="color:red;"><u>*Ricorda di tenere sempre con te il badge aziendale per validare la corsa</u></p><br>
            <br><a href="https://orari-navetta.herokuapp.com/andata" style="font-size:20px">Linea arancio via Emilia - Bolgiano</a><br>
            <br><a href="https://orari-navetta.herokuapp.com/ritorno" style="font-size:20px">Linea arancio Bolgiano - via Emilia</a>
        </center>
    </body>
    <!--developer Paolino Iorio-->
</html>