<!DOCTYPE html>
<html lang="en">
    <head>
        <title>orari navetta</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
    </head>
    <body bgcolor="AliceBlue">

        <img src="{{url_for('static', filename='Eni.jpg')}}" alt="Eni" width="150" height="150" />

        <p> </p>
        <h1 style="color:orange;" id="tittle">{{direction}}</h1>

        <h2>{{var}}</h2>

        {% if tup|length > 1 %}
            <p style="font-size:20px"> Prima navetta disponibile tra: {{tup|min}} min </p>
            <p style="font-size:20px"> Seconda navetta disponibile tra: {{tup|max}} min </p>
        {% else %}
            <p style="font-size:30px" > {{tup[0]}} </p>
        {% endif %}
    </body>
    <!--developer Paolino Iorio-->
</html>