div.row1 {
    box-sizing: content-box;
    width: auto;
    height: auto;
    padding: 20px;
    border: 8px solid #ffd700;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


div.row2{
    position: relative;
}


div.row3 {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: auto;
}


a.a1:link, a.a1:visited {
  background-color: #FF9800;
  color: white;
  padding: 25px 100px;
  text-align: center;
  text-decoration: none;
  display: table;
}

a.a1:hover, a.a1:active {
  background-color: orange;
  margin: auto;
}


* {
    padding: 0 ;
    margin: 0 ;
    border: 0;
}

