img.im_eni {
    position: absolute;
    top: 1px;
    height: 90px;
}

.navbar {
  overflow: hidden;
  background-color: #ffd700;
  margin-top: 100px;
  margin-right: -480px;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 15px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  text-align: center;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ffd700;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

img.img_mappa {
  height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.row3 {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: auto;
}

a.a1:link, a.a1:visited {
  background-color: orange;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: block;
}

a.a1:hover, a.a1:active {
  background-color: #ffd700;
  margin: auto;
}


a.a2:link, a.a2:visited {
  background-color: orange;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: block;
}

a.a2:hover, a.a2:active {
  background-color: #ffd700;;
  margin: auto;
}


a.a3:link, a.a3:visited {
  background-color: orange;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: block;
}

a.a3:hover, a.a3:active {
  background-color: #ffd700;;
  margin: auto;
}


a.a4:link, a.a4:visited {
  background-color: orange;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: block;
}

a.a4:hover, a.a4:active {
  background-color: #ffd700;;
  margin: auto;
}







h1.title_orange {
    font-family: Arial, Helvetica, sans-serif;
    color: #FF9800;
}

h1.title_red {
    font-family: Arial, Helvetica, sans-serif;
    color: #ff0000;
}


h1.title_blu {
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}


h1.title_verde {
    font-family: Arial, Helvetica, sans-serif;
    color: green;
}

div.img{
    margin: 20px 15px 15px 20px;
    width: 50%;
}


div.link{
    font-size: 30px;
}

div.br {
   display: block;
   margin: 15px 0;
}


* {
    padding: 0 ;
    margin: 0 ;
    border: 0;
}

